body {
  color: white;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://images.unsplash.com/photo-1531914082256-1b9047242426?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=958f2a072ed79c616fde9b234941473e&auto=format&fit=crop&w=1349&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  bottom: 20px;
  left: 46%;
  position: fixed;
  z-index: 999;
  font-size: 3em;
}
button {
  cursor: pointer;
}

.section {
  padding: 0;
}
