.mission-statement {
  width: 500px;
  height: 300px;
  //   border-left: 1px solid white;
  //   border-right: 1px solid white;
  //   border-bottom: 1px solid white;
  position: relative;
  border-radius: 5px;
  //   background-image: linear-gradient(
  //     to bottom right,
  //     rgba(170, 154, 154, 0.2),
  //     rgba(60, 122, 107, 0.6)
  //   );

  .mission-header {
    font-family: $main-font;
    position: absolute;
    left: 0;
    top: -27px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .mission-text {
    line-height: 1.8em;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
