.team-slide {
  .image-container {
    height: 88vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      margin: 50px;
      width: 350px;
      height: 500px;
      perspective: 500px;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 30px rgba(253, 253, 253, 0.877);
      border-radius: 10px;

      transition: transform 1s;
      transform-style: preserve-3d;
    }

    .flip {
      transform: rotateY(180deg);
      transition: transform 0.5s;
    }

    .front,
    .back {
      position: absolute;
      height: 100%;
      width: 100%;
      background: white;
      color: #03446a;
      text-align: center;
      border-radius: 10px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      line-height: 1.5em;
    }

    .front {
      img {
        border-radius: 10px;
      }
    }

    .back {
      background: transparent;
      color: white;
      transform: rotateY(180deg);

      .about-text {
        padding: 15px;
      }

      .back-arrow {
        position: absolute;
        bottom: 15px;
        width: 100px;
        color: white;
        font-size: 4em;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        transition: ease-in-out 0.3s;

        &:hover {
          transform: translateX(-8px);
        }
      }
    }
  }
  .flip-btn {
    text-decoration: none;
    color: black;
    font-family: $main-font;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    font-size: 1.3em;
    backface-visibility: hidden;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-4px);
    }

    &:active {
      transform: translateY(0);
    }
  }
  .corey-btn {
    position: absolute;
    bottom: 0;
    right: 21%;
  }
  .wes-btn {
    position: absolute;
    bottom: 0;
    right: 16.5%;
  }
  .joey-btn {
    position: absolute;
    bottom: 0;
    right: 26%;
  }
}
