.team {
  padding: 15px;
  display: flex;
  flex-direction: column;

  .team-box {
    transform: scale(0.95);
    display: flex;
    flex-direction: row;

    .img-div {
      width: 37%;

      .example-img {
        max-width: 100%;
        height: auto;
      }
    }
    .about-div {
      height: 170px;
      overflow: scroll;
      margin-left: 15px;
      width: 60%;
      text-align: center;

      .about-text {
        text-align: left;
      }
    }
  }
}
