.team-slide {
  .image-container {
    height: 88vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      position: relative;
      margin: 50px;
      width: 350px;
      height: 500px;
      perspective: 500px;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 30px rgba(253, 253, 253, 0.877);
      border-radius: 10px;

      transition: transform 1s;
      transform-style: preserve-3d;
    }

    .flip {
      transform: rotateY(180deg);
      transition: transform 0.5s;
    }

    .front,
    .back {
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      line-height: 1.5em;
    }

    .front-corey {
      background-image: url(".././images/corey.jpg");
      background-size: cover;
      background-position: center;
    }
    .front-wes {
      background-image: url(".././images/wesjace.jpg");
      background-size: cover;
      background-position: center;
    }
    .front-joey {
      background-image: url(".././images/joey.jpg");
      background-size: cover;
      background-position: center;
    }

    .back {
      // background: transparent;
      background-color: rgba(56, 52, 52, 0.7);
      color: white;
      transform: rotateY(180deg);
      position: relative;
      .about-text {
        padding: 15px;
      }

      .connect-icons {
        position: absolute;
        bottom: 2%;
        right: 6%;
        font-size: 1.7em;
        word-spacing: 20px;
        a {
          text-decoration: none;
        }

        .fa {
          color: white;

          transition: ease-in-out 0.2s;
        }

        .fa:hover {
          transform: translateY(-3px);
          background: transparent;
        }
      }

      .back-arrow {
        position: absolute;
        bottom: 15px;
        width: 100px;
        color: white;
        font-size: 4em;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        // transition: ease-in-out 2s;
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

        &:hover {
          // transform: translateX(-8px);
          animation-play-state: running;
        }
        @keyframes pulse {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-8px);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
    }
  }
  .flip-btn {
    text-decoration: none;
    color: white;
    font-family: $main-font;
    // background-color: black;
    background-image: linear-gradient(
      to bottom right,
      rgba(55, 85, 102, 1),
      rgba(5, 5, 5, 0.9)
    );
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 1.1em;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s;

    &:hover {
      border-radius: 27px;
      box-shadow: 0px 0px 30px rgba(253, 253, 253, 0.877);
      transform: scale(1.1);
    }

    &:active {
      transform: translateY(0);
    }
  }
  .corey-btn,
  .wes-btn,
  .joey-btn {
    position: absolute;
    bottom: 0;
    right: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    margin-bottom: 0 auto;
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 414px) {
  .card {
    transform: scale(0.8);
  }
}
