body {
  color: white;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://images.unsplash.com/photo-1531914082256-1b9047242426?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=958f2a072ed79c616fde9b234941473e&auto=format&fit=crop&w=1349&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.heading-text {
  font-family: $main-font;
  letter-spacing: 1.1em;
  margin-bottom: 20px;
}

.btn {
  &:link,
  &:visited {
    color: rgb(250, 248, 248);
    text-transform: uppercase;
    text-decoration: none;
    font-family: $main-font;
    padding: 7px;
    margin: 5px;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    background-color: rgb(37, 35, 35);
    border-radius: 27px;
  }

  &:hover {
    transform: translateY(-0.3em);
    background-color: rgb(250, 248, 248);
    color: rgb(37, 35, 35);
  }

  &:active {
    transform: translateY(-0.1em);
  }
}

.section {
  padding: 0;
  position: relative;
}

.fp-tableCell {
  padding: 0;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: black;
  .nav-menu-items {
    text-align: center;
    .btn {
      word-spacing: 3px;
      padding: 5px;
      &:not(:first-child) {
        margin-left: 5px;
      }

      margin-top: 20px;
      box-shadow: 0px 0px 30px rgba(253, 253, 253, 0.877);
    }
    &:hover &__btn:not(:hover) {
      // transform: scale(0.93);
      filter: blur(2px);
    }
  }
}

@media only screen and (max-width: 415px) {
  .nav-menu-items {
    transform: scale(0.85);
  }
}
